<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{_layout}">

<head>
    <title>Thêm danh mục mới</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card mt-3">
                    <div class="card-header bg-success text-white py-3">
                        <h4 class="mb-0"><i class="fa-solid fa-circle-plus me-2"></i>Thêm Danh Mục Mới</h4>
                    </div>
                    <div class="card-body p-4">
                        <form th:action="@{/categories/create}" th:object="${category}" method="post">

                            <div class="mb-3">
                                <label class="form-label fw-bold">Tên danh mục:</label>
                                <input type="text" th:field="*{name}" class="form-control" placeholder="Nhập tên danh mục..." />
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger small mt-1"></div>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="/categories" class="btn btn-secondary me-md-2"><i class="fa-solid fa-arrow-left me-1"></i> Quay lại</a>
                                <button type="submit" class="btn btn-success"><i class="fa-solid fa-save me-1"></i> Lưu danh mục</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
